* {
   box-sizing: border-box;
}

.clickable {
   cursor: pointer;
}

.header {
   position: fixed;
   display: flex;

   align-items: center;
   padding: 10px 20px 10px 0;
   background-color: #070720;

   /* height: fit-content; */
   height: 64px;
   width: 100%
}

.logo-text {
   font-size: 1.5em;
   font-weight: 700;
}

.header-middle {
   flex-grow: 1;
   flex-shrink: 1;

   display: flex;
   align-items: center;
   justify-content: center;


}

.header-search-container {
   flex: 1 1;
   position: relative;
   display: flex;
   align-items: center;
   height: 36px;
   min-width: 230px;
   max-width: 500px;
   border-radius: 3px;
   background-color: #0d0d28;
}

.header-search-bar {
   color: #a9acd1;
   background-color: transparent;
   width: 100%;
   height: 100%;
   padding-left: 12px;
   padding-right: 34px;
}

.header-region-tag {
   background-color: #ff9b00;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 28px;
   height: 18px;
   font-size: 10px;
   font-weight: 700;
}

.search-button {
   padding: 8px;
}

.header-right {
   display: flex;
   align-items: center;
   gap: 20px;
}

.header-icon {
   padding: 5px;
   border: 1px solid #070720;

}

.header-icon:hover {
   cursor: pointer;
   border: 1px solid #747474;
   border-radius: 3px;
   background-color: #53537a;
}

.header-login-button {
   background-color: #3273fa;
   font-weight: 700;
   font-size: 1em;
   padding: 5px 25px;
   border-radius: 3px;
}

.header-login:hover {
   background-color: #1e4f9d;
   cursor: pointer;
}

/* Side Navbar */

.side-navbar {
   position: fixed;
   top: 64px;
   left: 0;
   bottom: 0;
   width: 64px;
   background-color: #070720;
   color: #a9acd1;
   transition: 0.5s ease-in-out;
}

.side-navbar:hover {
   width: 280px;
   transition: 0.5s ease-in-out;
}

.game-icon-container {
   border-top: 1px solid #ffffff30;
   border-bottom: 1px solid #ffffff30;
   padding: 15px 0px;
   width: 75%;
}

.league-of-legends-icon {
   background-color: #ff99002d;
   border-radius: 5px;
   padding: 5px;
}

.league-of-legends-icon:hover {
   background-color: #ffbf5e2d;
}

.side-navbar-links {
   padding: 0 12px;
}


.side-navbar-link-container {
   display: flex;
   margin: 16px 0;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 40px;
}

.side-navbar-link-container:hover {
   background-color: #ffffff30;
   border-radius: 5px;
   cursor: pointer;
}

/* Profile Summary */
.profile-summary-container {
   margin-top: 64px;
   margin-left: 64px;
}